PORT=3333
FRONTEND_URL=http://localhost:5173

DB_HOST=localhost
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASS=

JWT_SECRET=
JWT_EXPIRES_IN=7d

STRIPE_SECRET_KEY=

MELHOR_ENVIO_TOKEN=
MELHOR_ENVIO_BASE_URL=https://sandbox.melhorenvio.com.br
MELHOR_ENVIO_USER_AGENT=
STORE_POSTAL_CODE=00000000